doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/js/jquery/dist/jquery.min.js')
        script(src='/js/three.js/build/three.min.js')
        script(src='/js/three.js/examples/js/controls/TrackballControls.js')
    body
        block content
